// block css

.sidebars .block {
  margin-bottom: $vert-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

.block-search {
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  width: 100%;
  .form-item {
    margin-bottom: 0;
    input {margin-bottom: 0;}
  }
}

@media all and (min-width: $tab) {

  .block-search {
    float: right;
    position: absolute;
    right: 0;
    top: 1rem;
    width: 30%;
  }

}

@media all and (min-width: $desk) {

    .block-search {
      padding: 0;
      width: 20%;
    }

}
