// block css

.sidebars .block {
  margin-bottom: $vert-spacing;
  &:last-child {
    margin-bottom: 0;
  }
}

.block-search {
  clear: both;
  overflow: hidden;
  padding: 1em 0;
  width: 100%;
  .form-item {
    margin-bottom: 0;
    input {margin-bottom: 0;}
  }
}

#block-block-5 h2 {
	margin-bottom: 15px;
	background-image: url('../images/email-icon.png');
	&:after {
		content: " ";
		display: block;
		position: relative;
		z-index: 1;
		top: 5px;
		left: 0;
		height: 2px;
		width: 100%;
		background-image: url('../images/lh-line.png');
		background-repeat: repeat-x;
		background-position: top left;
	}
}

#block-block-7 h3 {
	margin-bottom: 15px;
//	background-image: url('../images/email-icon.png');
	&:before,
	&:after {
		content: " ";
		display: block;
		position: relative;
		top: 4px;
		height: 2px;
		width: 100%;
		background-image: url('../images/lh-line.png');
		background-repeat: repeat-x;
		background-position: top left;
	}

	&:before {
		top: -2px;
	}
}

#block-block-3 {
	h4 {
		padding-top: 5px;
		&:before,
		&:after {
			content: " ";
			display: block;
			position: relative;
			top: -5px;
			height: 2px;
			width: 100%;
			background-image: url('../images/dh-line.png');
			background-repeat: repeat-x;
			background-position: top left;
		}
		&:after {
			top: 5px;
		}
	}
}

.copyright {

			background-image: url('../images/dh-line.png');
			background-repeat: repeat-x;
			background-position: top left;
			padding-top: .5em;
		&:before {
			content: " ";
			display: block;
			position: relative;
			top: -5px;
			height: 2px;
			width: 100%;

		}
}

@media all and (min-width: $tab) {

  .block-search {
    float: right;
    position: absolute;
    right: 0;
    bottom: -1rem;
    width: 30%;
  }

}

@media all and (min-width: $desk) {

    .block-search {
      padding: 0;
      width: 20%;
    bottom: .5rem;

    }

}
