// header region
.header-wrapper,
.preface-wrapper {
  width: 100%;
}

.header-wrapper {
	@include background-image(linear-gradient(#dec066, #bea764));
}

img.header__logo-image {
  height: 90px;
}

.header__logo-image {
//  float: left;
  height: auto;
//  margin-right: 1em;
  position: relative;
}

.header__name-and-slogan {
//  float: left;
 }

 .branding-wrapper {
   clear: both;
   overflow: hidden;
   padding-top: 1em;

   .header__logo {
	   display: block;
   }
}

.region-branding {
  position: relative;
  text-align: center;
  .header__logo {
	    text-align: center;
  }
  p {
	  margin-bottom: 0;
  }
}

@media all and (min-width: $tab) {

.region-branding {
	text-align: left;
}

  .branding-wrapper {
    padding: 1em 0;
    .header__logo {
	    display: inline-block;
    }
  }

}

@media all and (min-width: $desk) {
	.branding-wrapper {
		.header__logo {
//			display: inline;
		}
    #site-slogan {
	    margin-left: .6em;
    }
	}
}

// preface region

.preface-wrapper {
  background: $off-white;
  margin-bottom: 0;
  @include box-shadow(0 0 7px lighten($black, 50%));
  @include clear-it;
  position: relative;
  z-index: 1;
}

.preface {
	line-height: 0;

	img {
 	 height: auto;
 	 width: 100%;
	}
}

// content region

#content {
	padding: 15px 0 0;
  background: transparent;
  min-height: 30em;
}

@media all and (min-width: $desk) {
	#content {
			padding: 30px 30px 30px 0;
	}
}

#content .messages {
  padding: 0 20px;
}

.breadcrumb {
  li {
    display: inline-block;
    list-style: none;
    padding: 2rem 0;
    font-family: $sans-body;
    font-size: $base-font-size * .725;
  }
}

h3.tech-support-button {
  background-color: $accent;
  background-image: url('../images/shortcut-light.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
 	@include border-radius(4px);
 	@include box-shadow (2px 2px 4px lighten($black, 50%));
 	margin-bottom: 1em;
  a {
  	display: block;
    width: 100%;
    color: $white;
    font-size: .75em;
		padding: .5rem 1rem;
    &:hover {
		  color: $white;
    }
	  }
  &:hover  {
	  background-color: lighten($accent, 15%);
	  @include trans-all;
  }
}

// Sidebar regions

.region-sidebar-first {
	padding-top: 15px;
}

@media all and (min-width: $desk) {
	.region-sidebar-first,
	.region-sidebar-second {
		padding: 30px;
	}

	.one-sidebar .region-sidebar-first,
	.region-sidebar-second {
		background-color: $beige;
		border-left: 1px solid $white;
	}
  #content {
    padding-bottom: 30px;
  }
}

// postscript region


// footer region

footer {
  background: $dark-gray;
  clear: both;
  overflow: hidden;
  p,
  li,
  h4 {
    color: $light-blue;
  }
  p {
    font-size: $base-font-size * .75;
    margin-bottom: 0;
    }
}

.region-footer {
  padding: 10px 0;
}

.copyright {
  clear: both;
  overflow: hidden;
  padding-bottom: $vert-spacing;
  p {
    float: left;
    font-size: $base-font-size * .625;
  }
}

// disclaimer blockquote
#block-block-3 {
  clear: both;
//  margin-bottom: $vert-spacing;
  overflow: hidden;
}

@media all and (min-width: $tab) {

  .disclaimer-left,
  .disclaimer-right {
    float: left;
    width: 50%;
  }

  .disclaimer-left {
    padding-right: 17px;
  }

  .disclaimer-right {
    padding-left: 17px;
  }
}
