h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: $text-color;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  margin-top: 0;
  margin-bottom: $header-bottom-margin;
  
  a,
	a:link,
	a:visited,
	a.active {
	   color: $text-color;
  }
  a:hover {
	  color: lighten($accent, 15%);
  }
}

h1, h1 a {
  font-size: $h1-font-size;
  font-weight: 300;
}

h1.site-name, h1.site-name a, h2.site-name, h2.site-name a {
  color: $text-color;
  font-size: 1.5em; font-size: 1.5rem;
  line-height: 110%;
  margin: 0;
  text-transform: uppercase;
}

.header__site-name {
  margin: 0;
  font-size: 2em; font-size: 2rem;
  line-height: 110%;
  @include element-invisible;
}

h1.page-title {
  margin-bottom: .5rem; margin-bottom: 8px;
}

h2, h2 a {
  font-size: $h2-font-size;
}

h3, h3 a, h2.block__title, h2.pane-title {
  font-size: $h3-font-size;
}

h4, h4 a {
  font-size: $h4-font-size;
}

h5, h5 a {
  font-size: $h5-font-size;
}

h6, h6 a {
  font-size: $h6-font-size;
}

h1#page-title,
.region-sidebar-second h2,
.region-sidebar-first h2 {
	
	&:before {
		content: " ";
		display: block;
		position: relative;
		top: -5px;
		height: 2px;
		width: 100%;
		background-image: url('../images/lh-line.png');
		background-repeat: repeat-x;
		background-position: top left;
	}

		font-size: 1.25em;
		margin-bottom: 0;
		padding: .25em 0;
}

@media all and (min-width: $tab) {

  body {
    font-size: $base-font-size * .925;
    &.two-sidebars {
      font-size: $base-font-size * .825;
      
      h2, h2 a {
        font-size: $h2-font-size * .925;
      }

      h3, h3 a, h2.block__title, h2.pane-title {
        font-size: $h3-font-size * .925;
      }

      h4, h4 a {
        font-size: $h4-font-size * .925;
      }

      h5, h5 a {
        font-size: $h5-font-size * .925;
      }

      h6, h6 a {
        font-size: $h6-font-size * .925;
      }

    }
  }
}

@media all and (min-width: $desk) {

  body {
    font-size: $base-font-size * .825;
    &.two-sidebars {

      h2, h2 a {
        font-size: $h2-font-size * .825;
      }

      h3, h3 a, h2.block__title, h2.pane-title {
        font-size: $h3-font-size * .825;
      }

      h4, h4 a {
        font-size: $h4-font-size * .825;
      }

      h5, h5 a {
        font-size: $h5-font-size * .825;
      }

      h6, h6 a {
        font-size: $h6-font-size * .825;
      }

    }
  }
}
