// views styles

.not-front .view {
  padding: 20px 30px;
}

.view {
	.odd,
	.even,
	.item-list {
		background-image: url('../images/lh-line.png');
		background-repeat: repeat-x;
		background-position: top left;
		padding-top: 1em;
	}
	
	p {
		margin-bottom: 1em;
	}
}

.view .row {
  border-bottom: 1px solid lighten($base-color, 15%);
  margin-bottom:  $vert-spacing * 2;
  padding-bottom:  $vert-spacing * 2;
}

.view .row.last {
  border-bottom: none;
}

// school search view

// the scrollbar in scool sort tool - uses vertiscroll
.scrollable {
  border: 1px solid $white;
  background-color: lighten($light-beige, 50%);
  height: 15rem;
  margin-bottom: $vert-spacing;
  padding-right: 12px !important;
  overflow: scroll;
}

.scrollarea {
  background: $light-gray !important;
  padding-right: 0 !important;
  width: 10px !important;
  .scrollbar {
    background: $gray !important;
    border-radius: 0 !important;
    width: 10px !important;
  }
}

  .view-school-search {
    .view-data {
      min-height: 15em;
      overflow: hidden;
      padding: 1em 0em 0 0em;
    }
    .views-row {
      overflow: hidden;
    }
    .views-column {
      float: left;
      padding: 0 0em 1em 0;
      width: 100%;
    }
    h3 {
      border: 1px solid $gray;
      height: 4.5em;
      margin-bottom: 0;
      padding: 1em;
      text-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      @include border-radius(4px);
    }
    .filter-buttons {
      .filter  {
        background: none;
        border-bottom: 1px solid $gray;
        color: $text-color;
        cursor: pointer;
        padding: .5rem 1em;
        @include trans-all;
        &:hover {
          background: $gray;
        }
      }
    }
    .filter.active {
      background: $accent;
      color: $white;
      &:hover {
        background: $accent;
      }
    }
    .view-item {
      background: $white;
    }
  }

.js  .mix,
 .mix.no-result {
  display: none;
}

@media all and (min-width: $tab) {

  .view-school-search .views-column {
    padding: 0 1em 1em 0;
    width: 50%;
  }

}
